# üìì Lesson 2: Series and DataFrames
üìò What you will learn:
1. What is a Pandas Series?
2. What is a Pandas DataFrame?
3. How to create and explore them
4. How to convert data between structures

## üß± What is a Series?
A Series is a one-dimensional labeled array. It can store any type of data (numbers, strings, etc.).

In [ ]:
import pandas as pd

# A simple Series
s = pd.Series([100, 200, 300])
print(s)

üìå Output:

In [ ]:
0    100
1    200
2    300
dtype: int64

As you can see, the Series has:

values (100, 200, 300)

index labels (0, 1, 2)

## üè∑ Custom Index in Series
You can use custom labels for the index:

In [ ]:
prices = pd.Series([12000, 15000, 17000], index=['apple', 'banana', 'orange'])
print(prices)

üìå Output:

In [ ]:
apple     12000
banana    15000
orange    17000
dtype: int64

You can access values like this:

In [ ]:
print(prices['banana'])  # Output: 15000

## üìÑ What is a DataFrame?
A DataFrame is like a table (rows and columns).

In [ ]:
data = {
    'Name': ['Ali', 'Sara', 'Reza'],
    'Age': [25, 30, 22],
    'City': ['Tehran', 'Shiraz', 'Isfahan']
}

df = pd.DataFrame(data)
print(df)

üìå Output:

In [ ]:
   Name  Age     City
0  Ali   25   Tehran
1  Sara  30   Shiraz
2  Reza  22  Isfahan

## üîç Accessing Data in DataFrame
You can select a column like this:

In [ ]:
print(df['Name'])

You can select multiple columns:

In [ ]:
print(df[['Name', 'City']])

You can select a row by index:

In [ ]:
print(df.iloc[1])  # Row at index 1

You can select by label if you set the index (we‚Äôll cover that later).

## üîÑ Convert Between Series and DataFrame
You can create a DataFrame from multiple Series:

In [ ]:
name_series = pd.Series(['Amin', 'Niloofar', 'Hossein'])
age_series = pd.Series([27, 24, 29])

df2 = pd.DataFrame({
    'Name': name_series,
    'Age': age_series
})
print(df2)

## üß† Practice Exercises
1. Create a Series with grades of 5 students. Use student names as index.

In [ ]:
grades = pd.Series([18, 17, 20, 15.5, 19], index=['Ali', 'Sara', 'Reza', 'Maryam', 'Hassan'])
print(grades)

2. Create a DataFrame with employee names, salaries, and departments.

In [ ]:
employees = pd.DataFrame({
    'Name': ['John', 'Linda', 'Tom'],
    'Salary': [5000, 6000, 5500],
    'Department': ['IT', 'HR', 'Finance']
})
print(employees)

## üìå Summary
In this lesson, you learned:
- A Series is a one-dimensional labeled array.
- A DataFrame is a two-dimensional table.
- How to create and access data in both.
- How to convert between Series and DataFrame.

üëâ In the next lesson, you will learn how to read data from files like CSV, Excel, and JSON!