# üìì Lesson 3: Reading Data from Files
üìò What you will learn:
1. How to read data from different file types
2. How to use functions like read_csv(), read_excel(), read_json()
3. How to explore and understand the data using head(), tail(), info(), and describe()

## üìÇ Step 1: Read a CSV File
The most common format for data is CSV (Comma Separated Values).
Let‚Äôs read a file called Sales_January_2019.csv.

! Make sure the file is in your data/ folder.

In [4]:
import pandas as pd

# Read a CSV file from the data folder
csv_df = pd.read_csv('../data/Sales_January_2019.csv')

# Show the first 5 rows of the dataset
print(csv_df.head())

  Order ID                   Product Quantity Ordered Price Each  \
0   141234                    iPhone                1        700
1   141235  Lightning Charging Cable                1      14.95
2   141236          Wired Headphones                2      11.99
3   141237          27in FHD Monitor                1     149.99
4   141238          Wired Headphones                1      11.99

       Order Date                       Purchase Address
0  01/22/19 21:25        944 Walnut St, Boston, MA 02215
1  01/28/19 14:15       185 Maple St, Portland, OR 97035
2  01/17/19 13:33  538 Adams St, San Francisco, CA 94016
3  01/05/19 20:33     738 10th St, Los Angeles, CA 90001
4  01/25/19 11:59          387 10th St, Austin, TX 73301

üìå What this does:

- Loads the file into a DataFrame
- Automatically detects column names and values
- Displays the top 5 rows to give you an idea of the content

## üìä Step 2: Reading Excel Files
If your data is in .xlsx format (Excel), you can read it using read_excel().

! You need to install the openpyxl package to work with .xlsx files:

In [ ]:
pip install openpyxl

Requirement already satisfied: openpyxl in e:\projects\panda-essentials\python-essentials\venv\lib\site-packages (3.1.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in e:\projects\panda-essentials\python-essentials\venv\lib\site-packages (from openpyxl) (2.0.0)

In [5]:
# Read Excel file from the same dataset
excel_df = pd.read_excel('../data/Sales_January_2019.xlsx')

# Show the first 5 rows
print(excel_df.head())

  Order ID                   Product Quantity Ordered Price Each  \
0   141234                    iPhone                1        700
1   141235  Lightning Charging Cable                1      14.95
2   141236          Wired Headphones                2      11.99
3   141237          27in FHD Monitor                1     149.99
4   141238          Wired Headphones                1      11.99

       Order Date                       Purchase Address
0  01/22/19 21:25        944 Walnut St, Boston, MA 02215
1  01/28/19 14:15       185 Maple St, Portland, OR 97035
2  01/17/19 13:33  538 Adams St, San Francisco, CA 94016
3  01/05/19 20:33     738 10th St, Los Angeles, CA 90001
4  01/25/19 11:59          387 10th St, Austin, TX 73301

üìå Note: Excel files can have multiple sheets.

You can use sheet_name='Sheet1' to select a specific one.

In [ ]:
# Read a specific sheet from Excel (if there is more than one)
df_sheet = pd.read_excel('../data/example_with_sheets.xlsx', sheet_name='January Sales')

# Show the first few rows
print(df_sheet.head())

üìå Tip: You can also use sheet_name=None to read all sheets as a dictionary:

In [ ]:
# Read all sheets into a dictionary of DataFrames
all_sheets = pd.read_excel('../data/example_with_sheets.xlsx', sheet_name=None)

# Check available sheet names
print("Sheets:", all_sheets.keys())

# Access one of them
print(all_sheets['January Sales'].head())

## üåê Step 3: Reading JSON Files
JSON (JavaScript Object Notation) is commonly used in APIs and web apps.

In [9]:
# Read JSON file (already structured in records format)
json_df = pd.read_json('../data/Sales_January_2019.json', lines=True)

# Display the first 5 rows
print(json_df.head())

  Order ID                   Product Quantity Ordered Price Each  \
0   141234                    iPhone                1        700
1   141235  Lightning Charging Cable                1      14.95
2   141236          Wired Headphones                2      11.99
3   141237          27in FHD Monitor                1     149.99
4   141238          Wired Headphones                1      11.99

       Order Date                       Purchase Address
0  01/22/19 21:25        944 Walnut St, Boston, MA 02215
1  01/28/19 14:15       185 Maple St, Portland, OR 97035
2  01/17/19 13:33  538 Adams St, San Francisco, CA 94016
3  01/05/19 20:33     738 10th St, Los Angeles, CA 90001
4  01/25/19 11:59          387 10th St, Austin, TX 73301

üìå The "lines=True" parameter tells Pandas that the file contains one JSON record per line. This is often called "JSON Lines" format.

üí° Note:
If your JSON file is structured as a complete list (starts with [ and ends with ]), you do not need to use "lines=True".

üìÑ Example of standard JSON (array format):

In [ ]:
[
  {"Name": "Ali", "Age": 25},
  {"Name": "Sara", "Age": 30}
]

In [15]:
# Read JSON file 
df = pd.read_json('../data/json-array-format.json')

# Display the first 5 rows
print(json_df.head())

  Order ID                   Product Quantity Ordered Price Each  \
0   141234                    iPhone                1        700
1   141235  Lightning Charging Cable                1      14.95
2   141236          Wired Headphones                2      11.99
3   141237          27in FHD Monitor                1     149.99
4   141238          Wired Headphones                1      11.99

       Order Date                       Purchase Address
0  01/22/19 21:25        944 Walnut St, Boston, MA 02215
1  01/28/19 14:15       185 Maple St, Portland, OR 97035
2  01/17/19 13:33  538 Adams St, San Francisco, CA 94016
3  01/05/19 20:33     738 10th St, Los Angeles, CA 90001
4  01/25/19 11:59          387 10th St, Austin, TX 73301

But for JSON Lines format (each record on a new line), use:

In [13]:
json_df = pd.read_json('../data/Sales_January_2019.json', lines=True)

## üß™ Step 4: Exploring the Dataset
After loading the data, you should explore its structure and content:

In [16]:
# Show first 5 rows
print(csv_df.head())

# Show last 5 rows
print(csv_df.tail())

# Show number of rows and columns
print("Shape:", csv_df.shape)

# Show column names and data types
print("Info:")
print(csv_df.info())

# Get summary statistics for numerical columns
print("Describe:")
print(csv_df.describe())

  Order ID                   Product Quantity Ordered Price Each  \
0   141234                    iPhone                1        700
1   141235  Lightning Charging Cable                1      14.95
2   141236          Wired Headphones                2      11.99
3   141237          27in FHD Monitor                1     149.99
4   141238          Wired Headphones                1      11.99

       Order Date                       Purchase Address
0  01/22/19 21:25        944 Walnut St, Boston, MA 02215
1  01/28/19 14:15       185 Maple St, Portland, OR 97035
2  01/17/19 13:33  538 Adams St, San Francisco, CA 94016
3  01/05/19 20:33     738 10th St, Los Angeles, CA 90001
4  01/25/19 11:59          387 10th St, Austin, TX 73301
     Order ID                 Product Quantity Ordered Price Each  \
9718   150497            20in Monitor                1     109.99
9719   150498        27in FHD Monitor                1     149.99
9720   150499         ThinkPad Laptop                1     999.99
9721   150500  AAA Batteries (4-pack)                2       2.99
9722   150501            Google Phone                1        600

          Order Date                     Purchase Address
9718  01/26/19 19:09          95 8th St, Dallas, TX 75001
9719  01/10/19 22:58  403 7th St, San Francisco, CA 94016
9720  01/21/19 14:31      214 Main St, Portland, OR 97035
9721  01/15/19 14:21    810 2nd St, Los Angeles, CA 90001
9722  01/13/19 16:43       428 Cedar St, Boston, MA 02215
Shape: (9723, 6)
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9723 entries, 0 to 9722
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          9697 non-null   object
 1   Product           9697 non-null   object
 2   Quantity Ordered  9697 non-null   object
 3   Price Each        9697 non-null   object
 4   Order Date        9697 non-null   object
 5   Purchase Address  9697 non-null   object
dtypes: object(6)
memory usage: 455.9+ KB
None
Describe:
        Order ID               Product Quantity Ordered Price Each  \
count       9697                  9697             9697       9697
unique      9269                    20                8         19
top     Order ID  USB-C Charging Cable                1      11.95
freq          16                  1171             8795       1171

        Order Date  Purchase Address
count         9697              9697
unique        8077              9161
top     Order Date  Purchase Address
freq            16                16

## üß† Practice Exercises
Use the file Sales_January_2019 in three formats (CSV, XLSX, JSON) and:
1. Load each format using the proper Pandas function
2. Print the first 10 rows
3. Print the number of rows and columns
4. Print the column names
5. Compare whether all formats load the same data correctly

In [18]:
# Load CSV
df_csv = pd.read_csv('../data/Sales_January_2019.csv')
print("CSV Sample:\n", df_csv.head(10))
print("CSV Shape:", df_csv.shape)

# Load Excel
df_excel = pd.read_excel('../data/Sales_January_2019.xlsx')
print("Excel Sample:\n", df_excel.head(10))
print("Excel Shape:", df_excel.shape)

# Load JSON
df_json = pd.read_json('../data/Sales_January_2019.json', lines=True)
print("JSON Sample:\n", df_json.head(10))
print("JSON Shape:", df_json.shape)

CSV Sample:
   Order ID                     Product Quantity Ordered Price Each  \
0   141234                      iPhone                1        700
1   141235    Lightning Charging Cable                1      14.95
2   141236            Wired Headphones                2      11.99
3   141237            27in FHD Monitor                1     149.99
4   141238            Wired Headphones                1      11.99
5   141239      AAA Batteries (4-pack)                1       2.99
6   141240      27in 4K Gaming Monitor                1     389.99
7   141241        USB-C Charging Cable                1      11.95
8   141242  Bose SoundSport Headphones                1      99.99
9   141243    Apple Airpods Headphones                1        150

       Order Date                         Purchase Address
0  01/22/19 21:25          944 Walnut St, Boston, MA 02215
1  01/28/19 14:15         185 Maple St, Portland, OR 97035
2  01/17/19 13:33    538 Adams St, San Francisco, CA 94016
3  01/05/19 20:33       738 10th St, Los Angeles, CA 90001
4  01/25/19 11:59            387 10th St, Austin, TX 73301
5  01/29/19 20:22   775 Willow St, San Francisco, CA 94016
6  01/26/19 12:16       979 Park St, Los Angeles, CA 90001
7  01/05/19 12:04      181 6th St, San Francisco, CA 94016
8  01/01/19 10:30     867 Willow St, Los Angeles, CA 90001
9  01/22/19 21:20  657 Johnson St, San Francisco, CA 94016
CSV Shape: (9723, 6)
Excel Sample:
   Order ID                     Product Quantity Ordered Price Each  \
0   141234                      iPhone                1        700
1   141235    Lightning Charging Cable                1      14.95
2   141236            Wired Headphones                2      11.99
3   141237            27in FHD Monitor                1     149.99
4   141238            Wired Headphones                1      11.99
5   141239      AAA Batteries (4-pack)                1       2.99
6   141240      27in 4K Gaming Monitor                1     389.99
7   141241        USB-C Charging Cable                1      11.95
8   141242  Bose SoundSport Headphones                1      99.99
9   141243    Apple Airpods Headphones                1        150

       Order Date                         Purchase Address
0  01/22/19 21:25          944 Walnut St, Boston, MA 02215
1  01/28/19 14:15         185 Maple St, Portland, OR 97035
2  01/17/19 13:33    538 Adams St, San Francisco, CA 94016
3  01/05/19 20:33       738 10th St, Los Angeles, CA 90001
4  01/25/19 11:59            387 10th St, Austin, TX 73301
5  01/29/19 20:22   775 Willow St, San Francisco, CA 94016
6  01/26/19 12:16       979 Park St, Los Angeles, CA 90001
7  01/05/19 12:04      181 6th St, San Francisco, CA 94016
8  01/01/19 10:30     867 Willow St, Los Angeles, CA 90001
9  01/22/19 21:20  657 Johnson St, San Francisco, CA 94016
Excel Shape: (9723, 6)
JSON Sample:
   Order ID                     Product Quantity Ordered Price Each  \
0   141234                      iPhone                1        700
1   141235    Lightning Charging Cable                1      14.95
2   141236            Wired Headphones                2      11.99
3   141237            27in FHD Monitor                1     149.99
4   141238            Wired Headphones                1      11.99
5   141239      AAA Batteries (4-pack)                1       2.99
6   141240      27in 4K Gaming Monitor                1     389.99
7   141241        USB-C Charging Cable                1      11.95
8   141242  Bose SoundSport Headphones                1      99.99
9   141243    Apple Airpods Headphones                1        150

       Order Date                         Purchase Address
0  01/22/19 21:25          944 Walnut St, Boston, MA 02215
1  01/28/19 14:15         185 Maple St, Portland, OR 97035
2  01/17/19 13:33    538 Adams St, San Francisco, CA 94016
3  01/05/19 20:33       738 10th St, Los Angeles, CA 90001
4  01/25/19 11:59            387 10th St, Austin, TX 73301
5  01/29/19 20:22   775 Willow St, San Francisco, CA 94016
6  01/26/19 12:16       979 Park St, Los Angeles, CA 90001
7  01/05/19 12:04      181 6th St, San Francisco, CA 94016
8  01/01/19 10:30     867 Willow St, Los Angeles, CA 90001
9  01/22/19 21:20  657 Johnson St, San Francisco, CA 94016
JSON Shape: (9723, 6)

## üìå Summary
In this lesson, you learned how to:
- Load different types of data files (CSV, Excel, JSON)
- Use Pandas functions like read_csv(), read_excel(), read_json()
- Explore the structure and contents of a dataset with head(), info(), and describe()

üëâ In the next lesson, you‚Äôll learn how to filter data, select specific columns or rows, and work with conditions using loc, iloc, and query().